/** @format */

main {
	display: grid;
	grid-template-columns: 400px 1fr;
	gap: 1rem;
	padding: 1.3rem;
}
.admin-chat-info {
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	height: calc(100vh - 6rem);
	padding: 0.5rem;
}
.admin-chat-info input {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 0 1rem;
	font-size: 1rem;
}
.admin-chat-input {
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	height: 100%;
}

.admin-chat-info-users-list {
	height: calc(100vh - 10rem);
	overflow-y: scroll;
}
.admin-chat-info-user {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0.5rem;
	border-radius: 5px;
}
.admin-chat-info-user:hover {
	border: 1px solid #333;
}
.user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	transition: all 0.3s ease;
}
.admin-chat-info-user-info {
	display: flex;
	align-items: flex-start;
	gap: 0.8rem;
}
.admin-chat-info-user-div {
	display: flex;
	gap: 0.3rem;
	flex-direction: column;
}

.admin-chat-input input {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	padding: 0 1rem;
	font-size: 1rem;
	border: 1px solid #333;
}
.input-div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem;
}
.input-div img {
	width: 25px;
	height: 25px;
	object-fit: cover;
}
.input-div .img {
	border-radius: 50%;
	transition: all 0.3s ease;
	cursor: pointer;
	padding: 0.8rem;
	background-color: #e07a5f;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chat-messages {
	height: calc(100vh - 11.5rem);
	overflow-y: scroll;
}
.select-conversation {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #666;
	font-size: 3rem;
}
.truncate-text {
	white-space: nowrap; /* Prevent text from wrapping to the next line */
	overflow: hidden; /* Hide the overflowing text */
	text-overflow: ellipsis; /* Show an ellipsis (...) when text overflows */
	max-width: 220px; /* Set a specific width limit */
}
.chat-time {
	font-size: 0.8rem;
	color: #666;
}
