.home {
  margin-top: calc(50vh - 100px);
  padding: 0 2rem;
  display: flex;
}
.home-info {
  flex: 1;
}
.home-info h1 {
  font-size: 4rem;
}
.home-info h2 {
  font-size: 2rem;
}
.home-img {
  flex: 1;
margin-top: -100px;
}
.home-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}