/** @format */

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem 0 1rem;
}

.login-img {
	width: 65%;
}
.login-img img {
	width: 100%;
}
.login-info {
	width: 45%;
	padding: 2rem;
}
.login-info h2 {
	font-weight: 600;
}
.login-info p {
	font-size: 1rem;
	color: #666;
}

.google-auth-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0;
	background: white;
	cursor: pointer;
	font-weight: 600;
	color: #333;
}
.google-auth-box img {
	width: 25px;
	height: 25px;
}
.hr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: #666;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.form div {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
.form div input {
	padding: 0.7rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.forgot-password {
	text-align: right;
	margin-bottom: 10px;
}
.forgot-password a {
	font-size: 12px;
	color: #000;
}
.login-btn {
	padding: 0.7rem;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2c94c;
}
.login-signup {
	text-align: center;
	margin-top: 1rem;
}

.login-signup a {
	color: #000;
	font-weight: 600;
}
