/** @format */

.toast {
	position: absolute;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 1rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.toast img {
	width: 2.5rem;
	align-items: flex-start;
}
.toast li::marker {
	color: #d87d4a;
	font-size: 1rem;
}
